body{
    color: #3b3b3b;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
main{
    padding: 50px 120px;
}
/*********************
 ***navigation area start
 ******************** */
header{
    display: flex;
    justify-content: space-between;
}
#sites-name{
    color: #052E2B;
    font-size: 40px;
    background: -webkit-linear-gradient(#052E2B, #3b3b3b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header>nav{
    position: relative;
    top: 50px;
}
header>nav> a{
    
    color: #3A3A3A;
    text-decoration: none;
    padding: 10px;
    margin-left: 10px;
    margin-right:10px;
    font-size: 20px;
    font-weight: bold;
}
header>nav> a:hover{
   ;background-color: #13383473;
    padding: 10px 10px;
    border-radius: 5px;
}

header>h3{
    font-size: 30px;
}
/*-------------------------------------------- navigation area end ------------------------------------ */
.introduction-area{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    align-items: center;
    margin-bottom: 100px;
}
.introduction-text{
    width: 582px;
    height: 300px;
}
.textand-buton{
    display: flex;
}
.introduction-text>h1{
    font-size: 52px;
    font-weight: bold;
}
.top-text{
    width: 500px;
}
.top-button{
    margin-top:30px;
}

.prebook-button {
    text-decoration: none;
    color: white;
    border-radius: 25px;
    padding: 10px 15px;
    background-image:linear-gradient(45deg,#5cdacf,#000303)
}
.prebook-button:hover{
    box-shadow: 5px 5px 10px gray;
    transition: box-shadow .5s;
}

.cover-image img{
    width: 440px;
    height: 414px;
    margin-top: 50px;
}
.cover-image{
    height: 475px;
    width: 475px;
    background-image: url("influencer-gear-main/images/Circle design.svg");
}
/*-------------------------------------------- top section end ------------------------------------------------- */
hr{
    margin-top: 25px;
    width: 70%;
    color: gray
}
.company-logos{
    margin-left: 15%;
    margin-top: 30px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/**********************************
***popular collection section start*
********************************** */

.popular-text{
    margin-top: 100px;
    text-align: center;
}
.product-area{

    padding: 40px;
/*  
    background-color: bisque; */
    font-size: 14px;
    margin: 20px 14%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    
        
}

.product-area h1{
    font-size: 28px;
}
.product{
    border-radius: 5px;
    /* background-color: lightblue; */
    height: 476px;
    width: 329px;
    padding: 15px 5px 0 5px;
    box-shadow: 5px 5px 50px lightgray;
}
.product:hover{
    cursor: pointer;
    box-shadow: 5px 5px 50px black;
    transition: box-shadow .5s;
}
.product-area>.product img{
    width: 300px;
    height: 256px;
    margin-left: 15px;
}
.product-image{
    width: 300px;
    height: 256px;
}
.product-info{
    text-align: left;
    padding-left: 15px;
}
.stars{
    color: goldenrod;
}
.check{
    color: green;
}
.see-more a{
    text-decoration: none;
    color: #34756F;

}
.see-more{
    text-align: right;
    position: relative;
    right:290px;
}

/*----------------------------------- popular collection end -------------------------------------- */

.featured-section{
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
}
.featured-info{
    width: 600px;
}

/* -------------------------------------featured section end ------------------------------------------------- */



footer{
    color: white;
    background-color: #052E2B;
    text-align: center;
    padding: 30px;
}
.social-links{
    padding: 10px;
    text-decoration: none;
    color: white;
    margin-right: 15px;
    background-color: rgba(128, 128, 128, 0.363);
    
    border-radius:50%;
}
