body{
    padding: 50px 120px;
    font-family: 'Montserrat', sans-serif;
    
}
header{
    display: flex;
    justify-content: space-between;
}
header>nav{
    position: relative;
    top: 50px;
}
header>nav> a{
    color: #3A3A3A;
    text-decoration: none;
    margin-left: 34px;
    font-size: 20px;
    font-weight: bold;
}

header>h3{
    font-size: 30px;
}